.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  padding: 20px;
  text-align: center;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: 20px;
  text-align: center;
}

.product section a {
  margin-top: 2rem;
}

@media screen and (max-width: 950px) {
  .product section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 2 rem;
  }

  .product img {
    margin: 0px;
  }

  .product h2 {
    padding: 0px;
  }

  .product p {
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .product section {
    width: 95%;
  }
}
