.cityList {
  /* height: 65vh; */
  max-height: 100%;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: 2rem 0;
}

.cityList::-webkit-scrollbar {
  width: 5px;
}

.cityList::-webkit-scrollbar-thumb {
  background-color: var(--color-dark--2);
}

@media screen and (max-width: 800px) {
  .cityList {
    display: hidden;
  }
}
