.sidebar,
.sidebarFullScreenMobile {
  flex-basis: 40%;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 4.8rem);
  z-index: 100;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

/* change position of sidebar to bottom when under 800px */

@media screen and (max-width: 800px) {
  .sidebar,
  .sidebarFullScreenMobile {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  .logoAndUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .sidebar,
  .sidebarFullScreenMobile {
    padding: 1rem;
  }
}
