.user {
  padding: 1rem 1.4rem;
  z-index: 999;
  font-size: 1.6rem;
  font-weight: 600;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.user img {
  border-radius: 100px;
  height: 4rem;
}

@media screen and (max-width) {
  .user {
    font-size: 1.2rem;
  }
}
